################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/03cc0620-b0b1-4ec3-a945-73361062bc86.vsidx
/BuKing/.vs/BuKing/FileContentIndex/c3ad55c8-8443-44df-87d0-a1a7476aab90.vsidx
