################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/03cc0620-b0b1-4ec3-a945-73361062bc86.vsidx
/BuKing/.vs/BuKing/FileContentIndex/c3ad55c8-8443-44df-87d0-a1a7476aab90.vsidx
/BuKing/.vs/BuKing/FileContentIndex/f1bbad0d-aab6-439b-95f9-6314c1565776.vsidx
/BuKing/.vs/BuKing/FileContentIndex/2711c3e0-1092-4d5a-a578-aa0c3939c008.vsidx
/BuKing/.vs/BuKing/FileContentIndex/ad607fba-ee14-4653-9cdd-e4be9c91d7a7.vsidx
/BuKing/.vs/BuKing/FileContentIndex/fa9deab3-1987-4851-bc05-7edfcd5d66ce.vsidx
/BuKing/.vs/BuKing/FileContentIndex/69004f22-8d52-40e8-a8c2-dd7413a613af.vsidx
/BuKing/.vs/BuKing/FileContentIndex/8bfc9e67-26a0-4c3e-a3c3-944388a0ca24.vsidx
/BuKing/.vs/BuKing/FileContentIndex/aeea936e-4a13-4c80-87db-e1c8e2141c4b.vsidx
/BuKing/.vs/BuKing/FileContentIndex/562c18f8-a541-4a74-981a-f99ee95eeff3.vsidx
/BuKing/.vs/BuKing/FileContentIndex/ce010586-d734-471e-98fb-9e93dc72d778.vsidx
/BuKing/.vs/BuKing/FileContentIndex/dab3eee1-50c2-444c-ab45-ca0b221ada51.vsidx
/BuKing/.vs/BuKing/FileContentIndex/50102f52-5c2c-4609-bdba-6a9b4f833158.vsidx
/BuKing/.vs/BuKing/FileContentIndex/83531882-83ba-406c-a10a-77419cb2a801.vsidx
/BuKing/.vs/BuKing/FileContentIndex/ed1f3ef6-bf2c-49d2-ac52-900aafafdaed.vsidx
/BuKing/.vs/BuKing/FileContentIndex/edfdc6b1-89c2-4831-bfc8-7be4d096e862.vsidx
/BuKing/.vs/BuKing/FileContentIndex/9e2ea1af-6d7c-4f17-9450-e4b4b4d800de.vsidx
/BuKing/.vs/BuKing/FileContentIndex/23d8f09c-13d1-4389-a6a9-e452ba0ee1af.vsidx
